.container.hobbies_container{
    width: 30%;
    padding-bottom: 3rem;
}

.craft_image{
    width: auto;
    border-radius: 1.5rem;
    overflow: hidden;
}

.hobby_card {
    background-color: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.craft_name{
    color: var(--color-white);
    font-weight: 400;
    font-size: medium;
    display: block;
    width: 80%;
    margin: 2rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES/TABLETS) ============== */
@media screen and (max-width: 1024px) {
    .container.hobbies_container{
        width: 60%;
    }
    }


/* =========== MEDIA QUERIES (SMALL DEVICES/PHONES) ============== */
@media screen and (max-width: 600px ) {
    .container.hobbies_container{
        width: var(--container-width-sm)
    }

    .craft_description{
        width: var(--container-width-sm);
    }
}